{#
/**
 * @file
 * Theme implementation to present WHFR Schedule grid.
 *
 * @ingroup themeable
 */
#}

{% set schedule = grid['#schedule'].get('grid') %}
{% set first = grid['#schedule'].get('first') %}

<table class="whfr-schedule-grid">
  <tr>
    <th>Time</th>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  {% for hour in range(first, 23) %}
    {% set starttime = hour * 100 %}
    <tr>
      <td class="row-label">{{ grid['#schedule'].get('showtime', starttime) }}</td>
      {% for day in range(0, 6) %}
        {% set getblank = [day, starttime] | join(',') %}
        {% set blank = grid['#schedule'].get('blank', getblank) %}
        {% if schedule[day][starttime] is defined %}
          {% set show = schedule[day][starttime] %}
          <td {% if show.endhours - starttime > 100 %} rowspan={{ (show.endhours - starttime) / 100 }}{% endif %}>
            {{ show.link }}
          </td>
        {% elseif blank is not null %}
          <td {% if blank > 1 %} rowspan={{ blank }}{% endif %} class="blank-timeslot"></td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
<div class="classical24-message">
  <p>{{ grid['#classical24'] }} is available on WHFR from midnight to 10:00am and in the evenings following live programming.</p>
</div>
