{#
/**
 * @file
 * Theme implementation for WHFR livestream player.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('whfr_helper/ableplayer') }}

<audio id="audio1" width="480" preload="auto" data-able-player>
  {% for url in content.source %}
    <source type="audio/mpeg" src="{{ url }}"/>
  {% endfor %}
</audio>
